.footer {
  margin-top: 200px;
  background: #000;
}
.footer__container {
  padding: 150px 100px;
  color: #F4CA16;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__title {
  font-size: 75px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}
.footer__title:not(:last-child) {
  margin-bottom: 50px;
}
.footer__text {
  font-size: 45px;
  font-weight: 600;
}
.footer__text:not(:last-child) {
  margin-bottom: 50px;
}
.footer__button {
  cursor: pointer;
  background: #E84545;
  font-weight: 700;
  color: #fff;
  padding: 15px 125px;
  font-size: 35px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.footer__button:hover {
  background: #C11717;
}
.footer__price {
  font-weight: 600;
  font-size: 35px;
}
.footer__price:not(:last-child) {
  margin-bottom: 30px;
}

@media (max-width: 991.98px) {
  .footer {
    margin-top: 150px;
  }
  .footer__container {
    padding: 100px 50px;
  }
  .footer__title {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
  }
  .footer__title:not(:last-child) {
    margin-bottom: 50px;
  }
  .footer__text {
    font-size: 30px;
    font-weight: 600;
  }
  .footer__text:not(:last-child) {
    margin-bottom: 50px;
  }
  .footer__price {
    font-weight: 600;
    font-size: 35px;
  }
  .footer__price:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .footer {
    margin-top: 150px;
  }
  .footer__container {
    padding: 100px 50px;
  }
  .footer__title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
  }
  .footer__title:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer__text {
    font-size: 20px;
    font-weight: 600;
  }
  .footer__text:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer__price {
    font-weight: 600;
    font-size: 20px;
  }
  .footer__price:not(:last-child) {
    margin-bottom: 25px;
  }
  .footer__button {
    padding: 12px 80px;
    font-size: 20px;
  }
}
@media (max-width: 479.98px) {
  .footer {
    margin-top: 100px;
  }
  .footer__container {
    padding: 50px 50px;
  }
  .footer__title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
  }
  .footer__title:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer__text {
    font-size: 12px;
    font-weight: 600;
  }
  .footer__text:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer__price {
    font-weight: 600;
    font-size: 12px;
  }
  .footer__price:not(:last-child) {
    margin-bottom: 15px;
  }
  .footer__button {
    padding: 10px 50px;
    font-size: 12px;
  }
}